{% extends 'nav.html' %}
{% load static %}
{% block style%}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock style%}
{% block content %}

    <div class="row mt-5">
        <div class="col-sm-5 mt-5 offset-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="ffname" placeholder="first name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="llname" placeholder="last name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="aage" placeholder="age">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pplace" placeholder="place">
                </div>
                <div class="form-group">
                    <input class="form-control" id='useid' type="text" name="uname" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control"  type="password" name="pswd" placeholder="password">
                </div>
                <p id="usererror" class="text-danger"></p>
                <!-- <div class="form-group"> -->
                <input  class="btn btn-success" type="submit" value="Register" id="sub">
                <!-- </div> -->

                
            </form>

        </div>
    </div>
    <script>
        $(function(){
            $('#useid').focusout(function(){
                user=$('#useid').val()
                console.log(user)
                url="{%url 'jsontable' 1%}".replace('1',user)
                $.get(url,function(data,status){
                    console.log(data)
                    $('#usererror').text(data)
                    if(data=='Username already Exists'){
                        $('#sub').hide()
                    }
                    else{
                        $('#sub').show()
                    }
                })
            })
        })
    </script>
{% endblock content %}