{% extends 'nav.html' %}
<!-- {% load static %}
{% block style %}

{% endblock style %} -->
{% block content %}
    <div class="row">
        <div class="col-sm-4 offset-3 mt-5">
            <h3>Reg Model Form</h3>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{form1.as_table}} {{form2.as_table}}
                </table>
                <input type="submit" value="Register">

            </form>
        </div>
    </div>
{% endblock content %}