{% extends 'nav.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-3 mt-5">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>First Name</th>    
                    <th>Last Name</th>  
                    <th>Age</th>  
                    <th>Place</th>    
                      
                </tr>
                {% for i in data1 %}
                <tr>
                    <td>{{i.fname}}</td>
                    <td>{{i.lname}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.place}}</td>
                    
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock content%}